In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2022-08-14 00:37:53,55.7435,-97.8558,73.56,33,20,3.44
1,1,Punta Arenas,CL,2022-08-14 00:39:49,-53.1500,-70.9167,37.51,87,75,14.97
2,2,Ambon,ID,2022-08-14 00:39:49,-3.6954,128.1814,82.54,78,75,5.75
3,3,Tsogni,GA,2022-08-14 00:39:50,-2.7942,10.0988,69.31,85,80,4.23
4,4,Kibaha,TZ,2022-08-14 00:39:50,-6.7667,38.9167,68.52,96,42,2.75

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Ambon,ID,2022-08-14 00:39:49,-3.6954,128.1814,82.54,78,75,5.75
7,7,Allahganj,IN,2022-08-14 00:39:52,27.5500,79.6833,84.38,68,72,4.76
12,12,Ribeira Grande,PT,2022-08-14 00:39:53,38.5167,-28.7000,75.92,88,4,6.04
14,14,Atuona,PF,2022-08-14 00:39:54,-9.8000,-139.0333,77.40,69,2,20.02
15,15,Butaritari,KI,2022-08-14 00:39:55,3.0707,172.7902,81.55,78,23,17.38
20,20,Faanui,PF,2022-08-14 00:39:58,-16.4833,-151.7500,77.94,75,13,12.55
27,27,Karratha,AU,2022-08-14 00:40:01,-20.7377,116.8463,76.10,44,7,5.91
30,30,Trincomalee,LK,2022-08-14 00:40:04,8.5711,81.2335,80.49,72,99,12.53
31,31,Puerto El Triunfo,SV,2022-08-14 00:40:04,13.2833,-88.5500,86.92,83,43,4.63
32,32,Kieta,PG,2022-08-14 00:40:05,-6.2167,155.6333,84.43,66,7,3.94

In [15]:
preferred_cities_df.count()

City_ID       189
City          189
Country       189
Date          189
Lat           189
Lng           189
Max Temp      189
Humidity      189
Cloudiness    189
Wind Speed    189
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
2               Ambon      ID     82.54  -3.6954  128.1814
7           Allahganj      IN     84.38  27.5500   79.6833
12     Ribeira Grande      PT     75.92  38.5167  -28.7000
14             Atuona      PF     77.40  -9.8000 -139.0333
15         Butaritari      KI     81.55   3.0707  172.7902
20             Faanui      PF     77.94 -16.4833 -151.7500
27           Karratha      AU     76.10 -20.7377  116.8463
30        Trincomalee      LK     80.49   8.5711   81.2335
31  Puerto El Triunfo      SV     86.92  13.2833  -88.5500
32              Kieta      PG     84.43  -6.2167  155.6333

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Ambon,ID,82.54,-3.6954,128.1814,Swiss-Belhotel Ambon
7,Allahganj,IN,84.38,27.5500,79.6833,Rajesh TVS Motors
12,Ribeira Grande,PT,75.92,38.5167,-28.7000,Quinta da Meia Eira
14,Atuona,PF,77.40,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
15,Butaritari,KI,81.55,3.0707,172.7902,Isles Sunset Lodge
20,Faanui,PF,77.94,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
27,Karratha,AU,76.10,-20.7377,116.8463,ibis Styles Karratha
30,Trincomalee,LK,80.49,8.5711,81.2335,Welcombe Hotel
31,Puerto El Triunfo,SV,86.92,13.2833,-88.5500,Hotel Jardin
32,Kieta,PG,84.43,-6.2167,155.6333,Uruna Bay Retreat

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))